<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-guide-concepts-1-production</title>
  <link href="../s/site/css/bootstrap.min.css" rel="stylesheet">
  <script src="../s/site/js/bootstrap.min.js"></script>
  <script type="text/javascript" language="JavaScript" src="../s/site/js/jquery-1.9.1.js"> </script>
  <script src="../s/site/js/angular.min.js"></script>
  <script type="text/javascript">
    (function(angular) {
      'use strict';
    var myApp = angular.module('spicyApp1', []);

    myApp.controller('SpicyController', ['$scope', function($scope) {
        $scope.spice = 'Test Project';
        $scope.customSpice = 'wasabi';
        $scope.chiliSpicy = function() {
            $scope.spice = 'chili';
        };
        $scope.jalapenoSpicy = function() {
            $scope.spice = 'jalapeño';
        };
        $scope.spicy = function(spice){
          $scope.spice = spice;
        }
    }]);
    })(window.angular);

  </script>
  
</head>
<body ng-app="spicyApp1" ng-controller="SpicyController">
  <!-- <div > -->
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive" src="../s/site/img/project3.jpg">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" >
            <div class="row"> <h1 class="protitle">{{spice}}</h1></div>
            <div class="row"><input ng-model="customSpice"></h1></input>
            <button ng-click="spicy('chili')">Chilli spice</button>
            <button ng-click="spicy(customSpice)">Custom spice</button>
            <div class= "row">
                <h2 class="prosize">项目需求人数：5人 项目周期： 2个月</h2> 
            </div>
            <div class="row">
                <h3 class="prodes">项目描述怎么写啊项目描述怎么写啊项目描述怎么写啊项目描述怎么写啊项目描述怎么写啊项目描述怎么写啊项目描述怎么写啊项目描述怎么写啊</h3>
            </div>
      </div>
 <!-- <button ng-click="chiliSpicy()">Chili</button> -->
 <!-- <button ng-click="jalapenoSpicy()">Jalapeño</button> -->
 <!-- <p>  {{spice}} </p> -->
<!-- </div> -->
</body>
</html>